body{
    background-image: url(images/fondo-pacman.jpg);
}
header{
 height: 300px;
 width: 700px;
 margin: auto;
  display: flex;
  justify-content: center;
}
.logtex{
    height: 400px;
}
.logpac{
    margin-top: 8%;
    height: 200px;;
}
section{
    margin-top: 10%;
    display: flex;
    justify-content: center;
}
.fants{
    height: 100px;
    width:100px;
}